.jumbotron {
  text-align: center;
  padding: 12px;
  background: transparent !important;
}

.panel {
  background: aliceblue;
}

.strong {
  font-style: oblique !important;
}

.well {
  background: aliceblue;
  padding: 5px;
}

h3 {
  font-style: oblique;
}