body {
  background-image: url(../img/bg.jpg)
}

.jumbotron {
  text-align: center;
  padding: 12px;
  background: transparent !important;
}


.strong {
  font-style: oblique;
}


h3 {
  font-style: oblique;
}


.uses {
  font-style: italic;
}


.about .panel {
  background: aliceblue;
  height: 300px;
}

.personal .panel {
  background: rgba(236, 236, 236, 0.4);
  height: 250px;
}