body {
  background-color: white;
}


.jumbotron {
  text-align: center;
  padding: 12px;
  background: transparent !important;
}

.panel {
  background: aliceblue;
  height: 300px;
}

.strong {
  font-style: oblique;
}


h3 {
  font-style: oblique;
}

p {
  font-size: 16px;
}

.uses {
  font-style: italic;
}
